table.detail_window td.detail_head {
	 text-align:center;
	 width:25%;
}
table.detail_window td.detail_content {
	 width:75%;
}
table.detail_window td input.detail_input {
	 border:none;
	 width:300px;
}